option_settings:
  - option_name: MYSQL_DATABASE
    value: calaccess
  - option_name: MYSQL_USER
    value: ccdc
  - option_name: MYSQL_PASSWORD
    value: mycrazypassword
  - option_name: DJANGO_USER
    value: admin
  - option_name: DJANGO_EMAIL
    value: foo@bar.com
  - option_name: DJANGO_PASSWORD
    value: mydjangopassword
